<tbody>
  <td>    <% if (params[:page]).to_i == 0 %>
    <%= index = (sogou_group_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(user_campaigns).limit_value ) %>
    <% else %>
    <%= index = (sogou_group_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(user_campaigns).limit_value ) %></td>
    <% end %></td>
  <td><%= sogou_group.cpc_grp_name %></td>
  <td><%= sogou_group.cpc_grp_id %></td>
  <td><%= sogou_group.max_price %></td>
  <td><%= link_to "#{sogou_group.sogou_ideas.count} Ideas", sogou_group, class: "btn bg-info"  %></td>
  <td><%= link_to "#{sogou_group.cpcs.count} CPCs", sogou_group, class: "btn bg-info"  %></td>
  <td><%= link_to 'Delete Group', sogou_group, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button" %></td>
        <% else %></td>
</tbody>
