<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close">
        <%= image_tag "close-button.png", alt: "Close", title: "Close" %>
      </button>
      <div class="modal_container">
        <div class="modal_title">Login to Adeqo</div>
        <hr/>
        <%= form_for :user, :url => user_session_path, html: { id: "login-form" } do |f| %>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 loginname_container">
            <%= image_tag "user-icon.jpg", alt: "Email address", title: "Email address" %>
            <%= f.email_field :email, placeholder: "Email address", autocomplete: :off, id: "login-email","data-rule-required" => "true", "data-rule-search" => "true", "data-msg-required" => "Email can't be blank", "data-msg-name" => "Email can't be blank" %>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 password_container">
            <%= image_tag "password-icon.jpg", alt: "Password", title: "Password" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: "login-password", "data-rule-required" => "true", "data-rule-search" => "true", "data-msg-required" => "Password can't be blank", "data-msg-name" => "Password can't be blank" %>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 button_container">
            <a data-toggle="modal" data-target="#forgotModal" , data-dismiss= "modal", class= "modal_reset_button">Password Reset</a>
            <%= f.submit "Login", class: "modal_confirm_login_button" %>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 custom_container">
            <hr class="custom_hr" style="border-color: red;">
            <p class="text-center">Create a new account</p>
            <a data-toggle="modal" data-target="#signupModal" , data-dismiss= "modal", class= "modal_confirm_login_button btn-block">Register</a>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {   
    $('#login-form').validate();
  }); 
</script>
<style type="text/css">
  label {
    display: block !important;
  }
</style>