<h4>
  <%= link_to 'All accounts',  accounts_path %>
  <span class="glyphicon glyphicon-chevron-right"></span>
  <%= link_to "#{@adgroup.campaign.account.channel} - #{@adgroup.campaign.account.username}", @adgroup.campaign.account%>
  <span class="glyphicon glyphicon-chevron-right"></span>
  <%= link_to "#{@adgroup.campaign.name}", @adgroup.campaign%>
  <span class="glyphicon glyphicon-chevron-right"></span>
  <%="#{@adgroup.name}"%>

</h4>

<h2> Keywords</h2>

  <p><%= pluralize(@adgroup.keywords.count, "keywords") %> associated with this adgroup</p>
  <div class="row button-container">
    <div class="col-sm-3">
      <%= button_to 'Retrieve Keywords', adgroup_retrieve_keywords_path(:id => @adgroup.id), :method => "get", :id => "retrieve-button", :class => "btn bg-info button"%>
    </div>
    <div class="col-sm-3">
      <%= button_to 'Delete All Keywords', adgroup_delete_keywords_path(:id => @adgroup.id), :method => "get", :id => "delete-button", :class => "btn bg-info float-right button" %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Keyword Title</th>
          <th>Keyword channel id</th>
          </tr>
      <% if @adgroup.keywords %>
      <%= paginate Kaminari.paginate_array(@adgroup.keywords).page(params[:page]).per(25) %>
      <%= render Kaminari.paginate_array(@adgroup.keywords).page(params[:page]).per(25) %>
      <% end %>
      </thead>

      </table>

    </div>
