<tbody>
  <td>    <% if (params[:page]).to_i == 0 %>
    <%= index = (keyword_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(@adgroup.keywords).limit_value ) %>
    <% else %>
    <%= index = (keyword_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(@adgroup.keywords).limit_value ) %></td>
    <% end %></td>
  <td><%= keyword.title %></td>
  <td><%= keyword.channel_id %></td>


  <!-- <td><%= link_to 'Edit keyword', edit_keyword_path(keyword) %></td> -->
  <td><%= link_to 'Delete keyword', keyword, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button"  %></td>
</tbody>
