<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close">
        <%= image_tag "close-button.png", alt: "Close", title: "Close" %>
      </button>
      <div class="modal_container">
        <div class="modal_title">Forgot your password? </div>
        <hr/>
        <%= form_for :user, :url => user_password_path, html: { id: "password-form" } do |f| %>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 loginname_container">
            <%= image_tag "user-icon.jpg", alt: "Email address", title: "Email address" %>
            <%= f.email_field :email, placeholder: "Email address", autocomplete: :off, "data-rule-required" => "true", "data-rule-search" => "true", "data-msg-required" => "Email can't be blank", "data-msg-name" => "Email can't be blank" %>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 button_container">
            <%= f.submit "Send reset email", class: "modal_confirm_login_button" %>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {   
    $('#password-form').validate();
  }); 
</script>
