<tbody>
  <td>    <% if (params[:page]).to_i == 0 %>
    <%= index = (campaign_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(user_campaigns).limit_value ) %>
    <% else %>
    <%= index = (campaign_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(user_campaigns).limit_value ) %></td>
    <% end %></td>
  <td><%= campaign.name %></td>
  <td><%= campaign.account.channel %></td>
  <td><%= campaign.channel_id %></td>
  <td><%= link_to "#{campaign.adgroups.count} Addgroups", campaign, class: "btn bg-info" %></td>
  <td><%= link_to 'Delete campaign', campaign, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button" %></td>
</tbody>
