<div class="container">
  <h1>Your Campaigns</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Channel id</th>
          <th colspan="3"></th>
        </tr>
        <% if user_campaigns %>
        <%= paginate Kaminari.paginate_array(user_campaigns).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(user_campaigns).page(params[:page]).per(25) %>
        <% end %>
      </thead>
    </table>
  </div>

  <br>
  <% if @accounts.first %>
  <% else %>
    <p>You must first create add account, then you will be able to retrieve your campaigns from the account page.</p>
  <% end %>
</div>
