<tbody>
  <td>    <% if (params[:page]).to_i == 0 %>
    <%= index = (cpc_counter + 1) + (((params[:page]).to_i) * Kaminari.paginate_array(user_campaigns).limit_value ) %>
    <% else %>
    <%= index = (cpc_counter + 1) + (((params[:page]).to_i - 1) * Kaminari.paginate_array(user_campaigns).limit_value ) %></td>
    <% end %></td>
    <%# byebug %>
  <td><%= cpc.cpc_id %></td>
  <td><%= cpc.price %></td>
  <td><%= cpc.visit_url %></td>

  <td><%= link_to 'Delete CPC', cpc, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button", :class => "btn bg-info button" %></td>
        <% else %></td>
</tbody>
