.error {
  color: #b93535;
}
.navbar {
  border: 0;
}
.custom_container {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  margin-bottom: 10px;
  vertical-align: middle;
  margin-top: 30px;
}
.custom_hr {
  margin-top: 0px;
  margin-left: 8px !important;
  margin-right: -8px !important;
}
.index-ul {
  margin-right: -3%
}