@charset "UTF-8";


.img-left{
  margin-left: 10px;
}
.hero-slider-mol{
  background-color: rgba(0, 0, 0, 0.4);
}

.intro{
  background-image: url(<%= asset_path 'intro-slider.jpg' %>);
  background-size: cover;
  background-position: center;
}

.intro-img{
  width: 100%
}

@media (max-width:768px) {
  .intro-img{
    width: 150%
  }
}

.row-1200{
  max-width: 1200px;
}

.form-send{
  padding-left: 0px;
}

#form{
  background-image: url(<%= asset_path 'contact-us.jpg' %>);
}

.btn-price{
  position: absolute;
  bottom: 50px;
  right: 19%;
  border: 0px;
}

.btn-grey-blog{
  background-color: #818b97;
  color: #fff;
  min-width: 120px!important;
  border: 0px;
}

.btn-grey{
  background-color: #818b97;
  color: #fff;
  border: 0px;
}

.btn-join {
  height: 194px;
  width: 250px;
  font-weight: 600;
  right: -3%;
  border: 0px;
}

.btn-join > a {
  margin-top: 50px;
  border: 0px;
}

.bg-bluegrey{
  background-color: #c0c9ca;
}

.bg-transparent{
  background-color: white;
  opacity: 0.7;
}

.align-left{
  text-align: left;
}

.footer-text{
  padding: 15px;
}

@media (min-width:1200px) {
  .head-img{
    width: 130%;
  }
}


.adeqo-container {
    padding-top: 107px
}

.navbar-header{
  float: right;
}

.navbar-brand>img {
    max-height: 90px
}

@media (min-width:768px) {
    .navbar-nav>li>a {
        line-height: 120px
    }
}

/* side-scroll navbar */

.side-scroll{
  bottom: 50%;
  right: 5%;
  position: fixed;
  transform: translateY(50%);
  z-index: 10;
}

.side-scroll ul{
  box-sizing: border-box;
  list-style-type: none;
}

.side-scroll ul li{
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-bottom: 16px;
  color: #2d3e51;
  border-radius: 100%;
  border: 1px solid #13151A;
}

.side-scroll ul li span{
  white-space: nowrap;
  top: -6px;
  right: 20px;
  position: relative;
  float: right;
  opacity: 0;
  font-weight: bold;
  color: #000;
}

.side-scroll ul li:hover,{
  border: 4px solid #13151A;
}

.side-scroll ul li:hover span{
  opacity: 1;
}
.side-scroll ul li.active{
  border: 4px solid #13151A;
}


@media (max-width: 768px) {
  .banner h1, .banner h2{
    padding-left: 0px;
  }
}


.head-bar{
  color: #fff;
}

.text-right {
  text-align: right;
}


/* what we offer start */

.offer-back{
  background-color: white;
  cursor: pointer;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 370px;
  margin: 10px;
}
.offer-back img{
  margin-top: 100px;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.offer-box {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  width: 360px;
  height: 240px;
  padding: 130px 20px;
}

.offer-box:hover {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.offer-back:hover img{
  opacity:0.2;
}

@media (max-width:1100px) {
 .offer-back{
   width: 300px
 }
 .offer-box{
   width: 290px;
   padding: 50px 20px;
 }
}

@media (max-width:800px) {
  .offer-back{
    width: 230px
  }
  .offer-box{
    width: 220px;
    padding: 30px 20px;
  }
}
@media (max-width:500px) {
 .offer-back{
   width: 390px
 }
 .offer-box{
   width: 380px;
   padding: 50px 20px;
 }
}
@media (max-width:380px) {
 .offer-back{
   width: 355px
 }
 .offer-box{
   width: 350px;
   padding: 50px 20px;
 }
}
@media (max-width:360px) {
 .offer-back{
   width: 340px
 }
 .offer-box{
   width: 330px;
   padding: 50px 20px;
 }
}
@media (max-width:320px) {
 .offer-back{
   width: 320px
 }
 .offer-box{
   width: 310px;
   padding: 50px 20px;
 }
}

/* what we offer end */


/* Blog start */
@media (min-width:1200px){
  .blog1, .blog2, .blog3{
    height: 340px;
    width: 370px;
    margin: 10px;
  }
}
@media (max-width:1199px){
  .blog1, .blog2, .blog3{
    height: 430px;
    width: 300px;
    margin: 10px;
  }
  .blog-text{
    margin-top: 35px
  }
}
@media (max-width:991px){
  .blog1, .blog2, .blog3{
    height: 535px;
    width: 230px;
    margin: 10px;
  }
}
@media (max-width:767px){
  .blog1, .blog2, .blog3{
    height: 510px;
    width: 230px;
    margin: 10px;
  }
}
@media (max-width:414px){
  .blog1, .blog2, .blog3{
    height: 410px;
    width: 315px;
    margin: 20px;
  }
}
@media (max-width:412px){
  .blog1, .blog2, .blog3{
    height: 410px;
    width: 313px;
    margin: 20px;
  }
}
@media (max-width:380px){
  .blog1, .blog2, .blog3{
    height: 440px;
    width: 275px;
    margin: 20px;
  }
}
@media (max-width:360px){
  .blog1, .blog2, .blog3{
    height: 480px;
    width: 260px;
    margin: 20px;
  }
}
@media (max-width:320px){
  .blog1, .blog2, .blog3{
    height: 550px;
    width: 220px;
    margin: 20px;
  }
}
/*.blog1 {
  background-image: url(../../images/adeqo1.jpg);
}
.blog2 {
  background-image: url(../../images/baidu3.jpg);
}
.blog3 {
  background-image: url(../../images/new-digital-trends-in-China-3.jpg);
}*/
.blog1, .blog2, .blog3{
  background-color: white;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;
  background-size: contain;
}
.blog-box:hover{
  -ms-transform: translate(0px,-20px);
  -webkit-transform: translate(0px,-20px);
  transform: translate(0px,-20px);
  transition: 0.3s ease-in;
}

/* Blog end */


/* Price start */

@media (max-width:500px) {
  .price{
    width: 100%
  }
}
@media (max-width:1100px) {
  .price-box{
    width: 300px;
  }
}
.price-box{
  background-color: white;
  cursor: pointer;
  height: 650px;
  width: 270px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.price-box:hover{
  -ms-transform: translate(0px,-20px);
  -webkit-transform: translate(0px,-20px);
  transform: translate(0px,-20px);
  transition: 0.3s ease-in;
}

.price-box-mol{
  background-color: white;
  cursor: pointer;
  height: 650px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}
@media (max-width:330px) {
  .price-box-mol{
    width: 200px;
    margin: 0px;
    padding: 0px
  }
  .swiper-slide .swiper-slide-active{
    margin: 0px;
    padding: 0px
  }
  div.col-xs-12.padding-bottom-xs-20{
    margin: 0px;
    padding: 0px
  }
}
@media (max-width:420px) {
  .price-box-mol{
    width: 370px;
  }
}
@media (max-width:380px) {
  .price-box-mol{
    width: 310px;
  }
}
.price-box-mol:hover{
  -ms-transform: translate(0px,-20px);
  -webkit-transform: translate(0px,-20px);
  transform: translate(0px,-20px);
  transition: 0.3s ease-in;
}
/* Price end */


.join{
  background-image: url(<%= asset_path 'career.jpg' %>);
}


/* Swiper start */

.swiper-container-intro {
    width: 300px;
    height: 350px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
@media (max-width:768px) {
  .swiper-container-intro {
      width: 300px;
      height: 350px;
      margin-left: auto;
      margin-right: auto;
      overflow-x: hidden;
      position: relative;
      overflow: hidden;
      z-index: 1;
  }
}
@media (max-width:460px) {
  .rcc{
    width: 132px
  }
  .op{
    margin-top:-80px
  }
}

.swiper-container-feature {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Swiper end */


@media (max-width:765px) {
  .swiper-slide .swiper-slide-active{
    margin-right: 0px
  }
}
@media (max-width:450px) {
  button.btn.btn-grey.btn-lg.margin-top-xs-30{
    margin-left: -5px
  }
}
@media (max-width:380px) {
  button.btn.btn-grey.btn-lg.margin-top-xs-30{
    margin-left: -30px
  }
}
@media (max-width:330px) {
  button.btn.btn-grey.btn-lg.margin-top-xs-30{
    margin-left: -50px
  }
}
