@import "bootstrap-sprockets";
@import "bootstrap";

#hamburger-button {
  margin-top: 25px;
}

#my-navigation {
  margin-top: 20px;
}

#logo-image {
  height: 65px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.container {
  margin-bottom: 20px;
}

#page-container {
  min-height: 50em;
}

#home-page-title {
  margin: 20px 20px 20px 20px
}
// Navbar
#my-nav {
  margin-bottom: 0;
}
// Footer
footer {
  background-color: rgb(248, 248, 248);
  min-height: 80px
}

.footer-title {
  font-size: 18px;
}

#footer-text {
  margin: 30px 30px 30px 30px
}

#menu-separator {padding: 15px}

.account-fields {
  font-size: 12px
}

// align accounts index fields
#align-middle { vertical-align: middle}

.button {
  width: 200px
}


#delete-button {
  background-color: #ca2222;
  color:white;
  margin-bottom: 9px
}

#retrieve-button {
  background-color: rgb(84, 181, 204);
  color:white;
}

.alert {margin-top: 10px}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  color: #353333;
  text-align: center;
}
.footer-top {
  min-height:100px;
}