<header class="navbar navbar-default" role="navigation" id="my-nav">
  <nav>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="hamburger-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(image_tag('adeqo-logo.png', class: "nav navbar navbar-left", id: "logo-image"), "/") %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="my-navigation" class="nav navbar-nav navbar-right">
          <% if current_user && current_user.superadmin_role? %>
            <li><%= link_to 'Manage Users', users_path %> </li>
            <li> <div id="menu-separator">| </div></li>
          <% end%>

          <% if user_signed_in? %>
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><%= link_to 'My accounts', accounts_path %></li>
            <!-- <li><%= link_to 'My campaigns', campaigns_path %></li> -->
            <!-- <li><%= link_to 'My adgroups', adgroups_path %></li> -->
            <!-- <li><%= link_to 'My keywords', keywords_path %></li> -->
            <li> <div id="menu-separator">| </div></li>
            <li><%= link_to 'Adeqo Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else%>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
