<footer class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
      <p id="footer-text">© 2018 Beyond Media Global Limited. All Rights Reserved. ICP: 15044856</p>
    </div>
  </div>
</footer>