<!DOCTYPE html>
<html>
  <% current_uri = request.env['PATH_INFO'] %>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adeqo</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'grid', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%#= javascript_include_tag 'jquery.min.js' %>
    <%#= javascript_include_tag 'colResizable-1.6.js' %>

    <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
    <% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <% javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- <script type="text/javascript" src="http://china.adeqo.com/adeqo_track.js"></script> -->

    <% if current_uri.to_s == "/bulkupload/add" || current_uri.to_s == "/bulkupload/edit"%>
      <script>
        console.log(window.location);
        $( window ).load(function() {
          if(window.location.protocol == "https:"){
            n_url = "http://"+window.location.host+""+window.location.pathname
            window.location.replace(n_url);
          }
        });
      </script>
    <% else %>

      <script>
      /*
        console.log(window.location);
        $( window ).load(function() {
          if(window.location.protocol == "http:"){
            n_url = "https://"+window.location.host+""+window.location.pathname
            window.location.replace(n_url);
          }
        });
      */
      </script>

    <% end %>
  </head>
  <body class="logged-in">
    <nav class="navbar navbar-default navbar-fixed-top header_container">
      <div class="container-fluid">
        <div class="pull-left">
          <div class="pull-left"><a href="/">
          <%= image_tag 'adeqo-white.png', alt: 'Adeqo', title: 'Adeqo', class: 'responsive_image_center' %>
          </a></div>
          <div class="pull-left header_nav account_nav"><a href="">
            <%= image_tag 'icon/message.png', alt: 'Account Status', title: 'Account Status' %>
            Account Status</a></div>
          <div class="clearfix"></div>
        </div>
        <div class="pull-right">
          <div class="pull-left header_nav search_nav">
            <div class="search_container">
              <input id="keyword" name="keyword" type="text" onkeyup="navSearch();"/>
              <%= image_tag 'icon/search.png', alt: 'Search', title: 'Search' %>
            </div>
            <div id="search_sub_navbar" class="sub_navbar search_sub_navbar">
              <div class="result_cat">
                <div class="result_cat_title">Accounts<span class="result_count">(6)</span></div>
                <hr/>
                <div class="result">BMG - Brand</div>
                <div class="result">BMG - Asia</div>
                <div class="result">BMG - Pacific</div>
                <div class="result">More &lt;</div>
              </div>
              <div class="result_cat">
                <div class="result_cat_title">Campaigns<span class="result_count">(1)</span></div>
                <hr/>
                <div class="result">BMG - Brand sogou</div>
              </div>
              <div class="result_cat">
                <div class="result_cat_title">Keywords<span class="result_count">(3)</span></div>
                <hr/>
                <div class="result">BMG</div>
                <div class="result">BMG ad</div>
                <div class="result">BMG Asia</div>
                <div class="result">More &lt;</div>
              </div>
            </div>
          </div>
          <div class="pull-left divide_nav"></div>
          <div class="pull-left header_nav support_nav">
            <a href="javascript:;" onclick="toggleSubMenu('support');">Support
              <%= image_tag 'icon/support.png', alt: 'Support', title: 'Support' %>
            </a>
            <div class="sub_navbar support_sub_navbar">
              <div class="sub_nav"><a href="">
                <%= image_tag 'icon/mail.png', alt: 'Contact Us', title: 'Contact Us' %>
                Contact Us</a></div>
              <hr/>
              <div class="sub_nav"><a href="/releasenotes">
                <%= image_tag 'icon/question.png', alt: 'Release Notes', title: 'Release Notes' %>
                Release Notes</a></div>
            </div>
          </div>
          <div class="pull-left divide_nav"></div>
          <div class="pull-left header_nav user_nav">
            <a href="javascript:;" onclick="toggleSubMenu('user');"><%=@user_name.to_s%>
              <%= image_tag 'icon/menu.png', alt: 'User', title: 'User' %>
            </a>
            <div class="sub_navbar user_sub_navbar">

              <% if @user_role.to_s.downcase != "read" %>
                <div class="sub_nav"><a href="/account">
                  <%= image_tag 'icon/setting.png', alt: 'Account Setting', title: 'Account Setting' %>
                  Account Setting</a></div>
                <hr/>
                <div class="sub_nav"><a href="/account/portfolio">
                  <%= image_tag 'icon/portfolio.png', alt: 'Portfolio', title: 'Portfolio' %>
                  Portfolio</a></div>
                <hr/>
              <% end %>
                <div class="sub_nav"><a href="/logout">
                <%= image_tag 'icon/logout.png', alt: 'Logout', title: 'Logout' %> Logout</a></div>

            </div>
          </div>
          <div class="pull-left divide_nav"></div>
          <div class="pull-left header_nav lang_nav">
            <a href="javascript:;" onclick="toggleSubMenu('lang');">中文</a>
            <div class="sub_navbar lang_sub_navbar">
              <div class="sub_nav">Coming Soon</div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </nav>

    <div class="main_container">
      <div class="sidebar">
        <div class="side_nav dashboard_side_nav active">
          <a href="/dashboard">
          <%= image_tag 'icon/dash.png', alt: 'Dashboard', title: 'Dashboard' %>
          Dashboard</a>
          <div class="active_point"></div>
        </div>

        <% if @user_company_id != 1 %>
          <!-- <div class="side_nav search_side_nav">
            <a href="/analytics"><img src="/images/icon/dash.png" alt="Analytics" title="Analytics"/> Analytics</a>
            <div class="active_point"></div>
          </div> -->
        <% end %>

        <%

          # @user_network_array = []

          # @user_network = @db[:network_user].find('user' => session[:user_id].to_i)
          # @db.close

          # @user_network.each do |user_network|
          #   @user_network_array << user_network["network_id"]
          # end

          # @total_network_type = []

          # @network = @db[:network].find('id' => { "$in" => @user_network_array})
          # @db.close

          # @network.each do |usernetwork|
          #   @total_network_type << usernetwork["type"]
          # end

          # @total_network_type = @total_network_type.uniq
        %>

        </div>

        <div class="side_nav search_side_nav">
          <a href="/advancedsearch">
          <%= image_tag 'icon/adv-search.png', alt: 'Advanced Search', title: 'Advanced Search' %> Advanced Search</a>
          <div class="active_point"></div>
        </div>

        <div class="side_nav search_side_nav">
          <a href="/bulkupload/add">
            <%= image_tag 'icon/bulk.png', alt: 'Bulk Upload', title: 'Bulk Upload' %>
            Bulk Upload</a>
          <div class="active_point"></div>
        </div>

        <div class="side_nav search_side_nav">
          <a href="/watchdog/history">
            <%= image_tag 'icon/watchdog.png', alt: 'WatchDog', title: 'WatchDog' %>
            WatchDog</a>
          <div class="active_point"></div>
        </div>

        <div class="sidebar_toggle_button button" onclick="toggleSidebar();"></div>
      </div>

      <div class="body">
        <%= yield %>
      </div>

      <div class="clearfix"></div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom footer_container">
      <div class="container-fluid">
        <div class="copyright_container pull-left">
          <%
            @current_year = Date.today.year
          %>
          Copyright © <%=@current_year%> Adeqo. <a href="http://www.bmgww.com" target="_blank">Intellectual Property of BMG</a>. All Rights Reserved. | <a href="https://www.sgs.gov.cn/notice/query/queryEntInfoMain.do?uuid=nfc_corvFBxOhzSllYN8rIdnf6tXa6h6" target="_blank">上海工商</a> | 沪ICP备15044856号 | Version: 4.2
        </div>
        <div class="policy_container pull-right">
          Terms of use & Privacy Policy
        </div>
        <div class="clearfix"></div>
      </div>
    </nav>

    <div class="loading_container">
      <div class="loading_background"></div>
      <div class="loading_image"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="export_modal_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal_container">
              <div class="modal_title">File is preparing to download. This will only take a few moments. Check your Downloads folder.</div>
              <hr/>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                  <div class="button red_button cancel_button pull-left" onclick="$('#export-modal').modal('hide');">OK</div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_error_modal" tabindex="-1" role="dialog" aria-labelledby="edit_error_modal_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal_container">
              <div class="modal_title">No records selected</div>
              <hr/>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                  <div class="button red_button cancel_button pull-left" onclick="$('#edit_error_modal').modal('hide');">OK</div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var session_start_date;
      var session_end_date;

      // start_date=new Date(d.getFullYear(), d.getMonth(), d.getDate());
      // end_date=new Date(d.getFullYear(), d.getMonth(), d.getDate());

      var page_option = [30, 50, 100, 200];

      <%
        if !session[:length].nil?
      %>

      page_option = jQuery.grep(page_option, function( n, i ) {
        return ( n !== <%=session[:length]%> );
      });

      page_option.unshift(<%=session[:length]%>);
      <%
        end

        # request_start_date = session[:end_date]
        request_start_date = Date.today + 30.days
        if current_uri.to_s.include?("/watchdog/history") && !session[:watchdog_end_date].nil?
          request_start_date = session[:watchdog_end_date]
        end
        if current_uri.to_s.include?("/bulk/summary") && !session[:bulk_end_date].nil?
          request_start_date = session[:bulk_end_date]
        end
        if current_uri.to_s == "/advancedsearchistory" && !session[:adv_end_date].nil?
          request_start_date = session[:adv_end_date]
        end
        @end_date = request_start_date.to_date.strftime("%Y-%m-%d")
        @end_year = request_start_date.to_date.strftime("%Y")
        @end_month = request_start_date.to_date.strftime("%m")
        @end_day = request_start_date.to_date.strftime("%d")

        request_start_date =  Date.today - 30.days # session[:start_date]
        if current_uri.to_s.include?("/watchdog/history") && !session[:watchdog_start_date].nil?
          request_start_date = session[:watchdog_start_date]
        end
        if current_uri.to_s.include?("/bulk/summary") && !session[:bulk_start_date].nil?
          request_start_date = session[:bulk_start_date]
        end
        if current_uri.to_s == "/advancedsearchistory" && !session[:adv_start_date].nil?
          request_start_date = session[:adv_start_date]
        end
        @start_date = request_start_date.to_date.strftime("%Y-%m-%d")
        @start_year = request_start_date.to_date.strftime("%Y")
        @start_month = request_start_date.to_date.strftime("%m")
        @start_day = request_start_date.to_date.strftime("%d")
      %>
      session_start_date = new Date(<%=@start_year%>, <%=@start_month%>-1, <%=@start_day%>);
      session_end_date = new Date(<%=@end_year%>, <%=@end_month%>-1, <%=@end_day%>);
    </script>

    <%= javascript_include_tag 'grid' %>

    <% if current_uri.to_s == "/dashboard"%>
      <%= javascript_include_tag 'dashboard.js' %>
      <%= javascript_include_tag 'dashboard-overview.js' %>
    <% end %>

    <% if current_uri.to_s == "/dashboard/detail"%>
      <%= javascript_include_tag 'dashboard.js' %>
      <%= javascript_include_tag 'dashboard-details.js' %>
    <% end %>

    <% if current_uri.to_s == "/channel/accounts" %>
      <%= javascript_include_tag 'network.js' %>
      <%= javascript_include_tag 'network-networks.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/channel") && current_uri.to_s.include?("/campaigns") %>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-campaigns.js' %>
    <% end %>

    <% if current_uri.to_s == "/campaigns" || current_uri.to_s == "/campaigns/sogou" || current_uri.to_s == "/campaigns/threesixty"  || current_uri.to_s == "/campaigns/baidu"  || current_uri.to_s == "/campaigns/shenma" %>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-campaigns.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/campaigns") && current_uri.to_s.include?("/overview")%>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-overview.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/setting") %>
      <%= javascript_include_tag 'campaign.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/campaigns") && current_uri.to_s.include?("/adgroup")%>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-adgroup.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/campaigns") && current_uri.to_s.include?("/ads")%>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-ads.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/campaigns") && current_uri.to_s.include?("/keyword")%>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-keyword.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/clickactivity") %>
      <%= javascript_include_tag 'campaign.js' %>
      <%= javascript_include_tag 'campaign-clickactivity.js' %>
    <% end %>

    <% if current_uri.to_s ==  "/advancedsearch" %>
      <%= javascript_include_tag 'advancesearch.js' %>
    <% end %>

    <% if current_uri.to_s == "/advancedsearchistory" %>
      <%= javascript_include_tag 'advancedsearchistory.js' %>
      <%= javascript_include_tag 'advancedsearchistory-advancedsearchistory.js' %>
    <% end %>

    <% if current_uri.to_s == "/watchdog/history" %>
      <%= javascript_include_tag 'watchdoghistory.js' %>
      <%= javascript_include_tag 'watchdoghistory-watchdoghistory.js' %>
    <% end %>

    <% if current_uri.to_s.include?("/bulk/summary") %>
      <%= javascript_include_tag 'bulkjob.js' %>
      <%= javascript_include_tag 'bulkjob-bulkjobs.js' %>
    <% end %>
  </body>
</html>
