<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adeqo</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'site', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'site', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/site_header" %>
    <%= yield %>
    <div class="footer-top"></div>
    <%= render "layouts/site_footer" %>
  </body>
</html>
