<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :channel %>
    <%= form.select(:channel, ['360', 'Sogou'], {}, { :class => "form-control" }) %>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :apitoken %>
    <%= form.text_field :apitoken, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :apisecret %>
    <%= form.text_field :apisecret, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
