<div class="container">
  <h1>Your Accounts</h1>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Channel</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Apitoken</th>
        <th>Apisecret</th>
        <th colspan="3"></th>
      </tr>
      <% if current_user.accounts %>
        <%= paginate Kaminari.paginate_array(current_user.accounts).page(params[:page]).per(25) %>
        <%= render Kaminari.paginate_array(current_user.accounts).page(params[:page]).per(25) %>
        <%end%>

    </thead>

  </table>
  </div>

  <br>
  <%= link_to 'Add Account', new_account_path, class: "btn btn-primary" %>
</div>
