<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close">
        <%= image_tag "close-button.png", alt: "Close", title: "Close" %>
      </button>
      <div class="modal_container">
        <div class="modal_title">Register on Adeqo</div>
        <hr/>
        <p id="error-div"></p>
        <%= form_for :user, :url => user_registration_path, html: { id: "registration-form" }, remote: true do |f| %>
          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 loginname_container">
            <%= image_tag "user-icon.jpg", alt: "Email address", title: "Email address" %>
            <%= f.email_field :email, placeholder: "Email address", autocomplete: :off, id: "rgister-email", "data-rule-required" => "true", "data-rule-search" => "true", "data-msg-required" => "Email can't be blank", "data-msg-name" => "Email can't be blank" %>
            <label id="email" class="error"></label>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 password_container">
            <%= image_tag "password-icon.jpg", alt: "Password", title: "Password" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", id: "register-password" %>
            <label id="password" class="error"></label>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 password_container">
            <%= image_tag "password-icon.jpg", alt: "Password", title: "Password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
            <label id="passwordconf" class="error"></label>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 button_container">
            <a data-toggle="modal" data-target="#forgotModal" , data-dismiss= "modal", class= "modal_reset_button">Password Reset</a>
            <%= f.submit "Register", class: "modal_confirm_login_button" %>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 custom_container">
          <hr class="custom_hr" style="border-color: red;">
          <p class="text-center">Already have an account?</p>
          <a data-toggle="modal" data-target="#loginModal" , data-dismiss= "modal", class= "modal_confirm_login_button btn-block">Login</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {   
    $("#registration-form").validate({
      rules: {
        "user[password]": {
          required: true, 
          minlength: 6
        },
        "user[password_confirmation]": {
          equalTo: "#register-password", 
          required: true,
          minlength: 6
        }
      },
      messages: {
        "user[password]": {
          required: "Password can't be blank",
          minlength: "Password must contain minimum 6 characters"
        },
        "user[password_confirmation]": {
          required: "Password confirmation can't be blank",
          minlength: "Password must contain minimum 6 characters",
          equalTo: "Password confirmation doesn't match"
        }
      }
    });
  });
</script>