<% unless resource.save %>
  <% error_hash = resource.errors.to_h %>;
  messages = {};
  <% if error_hash[:email].present? %>
    messages["email"] = "Email " + "<%= error_hash[:email] %>"
    $("#email").html(messages["email"]);
  <% end %>
  <% if error_hash[:password].present? %>
    messages["password"] = "Password " + "<%= error_hash[:password] %>";
    if ($("#register-password").val() == "") {
      $("#password").html(messages["password"]);
    }
    else {
      $("#password").html("");
    }
  <% end %>
  <% if error_hash[:password_confirmation].present? %>
    messages["password_confirmation"] = "Password Confirmation " + "<%= error_hash[:password_confirmation] %>"
    $("#passwordconf").html(messages["password_confirmation"]);
  <% end %>
  console.log(messages)
<% end %>
